<h1><%= t(:show) %></h1>
<p>
  <strong><%= t(:task_name) %></strong>
  <%= @task.taskname %>
</p>
<p>
  <strong><%= t(:description) %></strong>
  <%= @task.description %>
</p>
<p>
  <strong><%= t(:user) %></strong>
  <%= @task.user.try(:full_name) %>
</p>
<p>
  <strong><%= t(:project) %></strong>
  <%= @task.project.name %>
</p>

<%= link_to t(:edit), edit_task_path(@task) %> |
<%= link_to t(:back), tasks_path %>